* {
  padding: 0%;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "netflix-font-regular", sans-serif;
  color: white;
  background-color: #2d2d2d;
}

.bg {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/4af43238-4df9-4946-9920-a4bd55f2e50b/IN-en-20230724-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    no-repeat center center/cover;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
  height: 40px;
  width: auto;
  z-index: 10;
  position: absolute;
  margin-top: 2%;
}

nav {
  display: flex;
  margin-left: 10%;
}

.options {
  position: relative;
  color: transparent;
  display: flex;
  margin-top: 2%;
  margin-left: 70%;
  gap: 60px;
}

.login {
  z-index: 2;
  position: absolute;
  color: white;
}

button.signin {
  background-color: #e50914;
  z-index: 2;
  height: 5vh;
  width: 6vw;
  border-radius: 5px;
  color: white;
  font-size: bold;
  border: none;
  margin-left: 120%;
  position: absolute;
}
header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 500;
  margin-top: 15%;
  color: white;
  position: relative;
}
#lang {
  z-index: 2;
  height: 5vh;
  width: 8vw;
  margin-right: 10%;
  border: none;
  background-color: transparent;
  border: 1px solid gray;
  color: gray;
}
h1 {
  font-weight: 800;
  font-size: 50px;
}
.para {
  font-size: 20px;
  margin-top: 3%;
  font-weight: 500;
}
p {
  margin-top: 2%;
}
.login {
  margin-top: 3%;
}
input {
  height: 8vh;
  width: 26vw;
  background-color: transparent;
}
.login button {
  height: 8vh;
  width: 12vw;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.page {
  margin-top: 0.5%;
  height: 80vh;
  width: 90%;
  background-color: black;
  display: flex;
  gap: 2%;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}
.data {
  /* height: 30vh;
  width: 35vw; */

  margin-top: 10%;
}
.image img {
  margin-top: 10%;
  height: 400px;
  width: 500px;
}
.data label {
  font-size: 25px;
}
.queries {
  height: 120vh;

  width: 100%;
  padding-top: 5%;
  background-color: black;
  margin-top: 1%;
  justify-content: center;
  text-align: center;
}

.questions {
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}
.ques {
  margin-top: 1%;
  height: 10vh;
  width: 70vw;
  background-color: #2d2d2d;
  font-size: 20px;
}
.box {
  margin-left: 5%;
}
.box p {
  font-size: 20px;
}
.box input {
  margin-top: 5%;
}
.footer {
  background-color: black;
  margin-top: 0.5%;
  height: 70vh;
  width: 100%;
}
