/* For screens less than or equal to 1280px width */
@media (max-width: 1280px) {
  .bg {
    height: 50vh;
    width: 80%;
  }

  header {
    margin-top: 10%;
  }

  .login button,
  input.email {
    height: 5vh;
  }

  .page {
    height: 45vh;
  }

  .ques {
    font-size: 30px;
  }
}

/* For screens less than or equal to 780px width */
@media (max-width: 780px) {
  .bg {
    height: 60vh;
    width: 90%;
  }

  header {
    margin-top: 15%;
  }

  .login button,
  input.email {
    height: 4.5vh;
  }

  .page {
    height: 50vh;
  }

  .data h1 {
    font-size: 28px;
  }

  .data label {
    font-size: 16px;
  }

  .ques {
    font-size: 24px;
  }

  .box p {
    font-size: 14px;
  }

  .box input.email {
    height: 4vh;
    width: 90%;
  }

  .box button.start {
    height: 4.5vh;
    width: 50%;
    font-size: 14px;
  }
}

/* For screens less than or equal to 480px width */
@media (max-width: 480px) {
  .bg {
    height: 70vh;
    width: 100%;
  }

  .logo img {
    height: 25px;
    margin-top: 5%;
  }

  .options {
    margin-left: 60%;
    gap: 50px;
    margin-top: 5%;
  }

  button.signin {
    margin-left: 120%;
    font-size: 10px;
    width: 10vw;
  }

  header {
    margin-top: 15%;
  }

  h1 {
    font-size: 25px;
  }

  .para {
    font-size: 16px;
  }
  .login {
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
  }

  input.email {
    height: 4.5vh;
    width: 80%;
  }

  .login button.start {
    height: 4.5vh;
    width: 40%;
    font-size: 14px;
  }

  .page {
    height: auto;
  }

  .image img {
    height: 150px;
    width: 80%;
  }
  .data {
    width: 60%;
  }

  .data h1 {
    font-size: 20px;
  }

  .data label {
    font-size: 10px;
  }

  .ques {
    height: auto;

    font-size: 20px;
  }

  .box p {
    font-size: 10px;
  }

  .box input.email {
    height: 4vh;
    width: 40%;
  }

  .box button.start {
    height: 4.5vh;
    width: 60%;
    font-size: 14px;
  }

  .footer {
    height: 60px;
  }

  button.user {
    width: 18vw;
  }
}
